@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    margin: 0;
    
}
.Ylä-tunniste { 
    grid-area: Ylä-tunniste; 
    border: 4px solid;
    border-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(33, 33, 78);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(207, 175, 152)
  }



  
  